<!doctype html>
<title>Identity</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="{{ url_for('static', filename='basscss.min.css') }}" rel="stylesheet">
<body class="bg-darken-1">
  <div class="py1 bg-maroon white fs-12p line-height-1 center">
    FAKE Do not use real personal information (demo purposes only) FAKE
  </div>
  <div class="py1 bg-navy white fs-12p line-height-1 center">
    <img class="mr1 align-bottom" src="{{ url_for('static', filename='usa-flag.png') }}" alt="U.S. flag" width="18" height="12">
    A FAKE website of the United States government  
  </div>
  <div class="py2 mb3 bg-white center">
    <img src="{{ url_for('static', filename='seal.png') }}" class="align-middle" width="100">
  </div>
  <div class="container px2">
    {% block body %}{% endblock %}
  </div>
</body>
